<!DOCTYPE html> 
<html> 
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
<script src="https://apis.google.com/js/client.js"></script>
<style>
</style> 
</head> 
  <main>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">SET - Configuration</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href=""></a>
        <a class="mdl-navigation__link" href=""></a>
        <a class="mdl-navigation__link" href=""></a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">SET</span>
    <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="../intro">SET Intro</a>    
          <a class="mdl-navigation__link" href="../detect">Detect Segments</a>
      <a class="mdl-navigation__link" href="">Edit Segment</a>
      <a class="mdl-navigation__link" href="../deliver">Deliver to YouTube</a>  
    </nav>
  </div> 
  
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
    <button id="authorize-button" style="visibility: hidden">Authorize</button>
  	<input type="file" id="filePicker" style="display: none" />
		<form action="#">
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" value="set-videos" id="cloud-bucket">
		    <label class="mdl-textfield__label" for="sample3">Google Cloud Folder</label>
		  </div>
		</form>		
		<div id="table-container"></div>
        <br>
        <button id="continue" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">Continue</button>
  	</div>
  </div>
 </main>
 <script>
/*eslint-env jquery */
/*globals gapi */
var PROJECT = "set-cloud";
var clientId = '385389552797-ejkip3mim82hcjnkddnnsvjcipel21a7.apps.googleusercontent.com';
var apiKey = 'AIzaSyC0MKe_l9ojojT2pN-MFeGiFpCLrL5dEwQ';
var scopes = 'https://www.googleapis.com/auth/devstorage.full_control';
var API_VERSION = 'v1';
//var BUCKET = 'google-content-delivery-disk-cnn';
var BUCKET = 'set-videos';
var object = "";

function listcloud(data) {
	var gcd = data;
	var html = 	'<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">';
	html += '<thead><tr><th></th><th class="mdl-data-table__cell--non-numeric">Filename</th><th class="mdl-data-table__cell--non-numeric">status</th></tr></thead>';
    html += '<tbody>';

    gcd.items.forEach(function(e) {
  	  var hasVisualScenes = false;
	  var hasEdits = false;
 	  var isReviewed = false;
      if ((e.name.substring(e.name.lastIndexOf(".")+1) === "mp4") && (e.name.indexOf("_edited") === -1)) {         
         var fname = e.name.substring(0,e.name.indexOf("."));             
         gcd.items.some(function(e1) {
            var e1name = e1.name.substring(0,e1.name.indexOf("_"));
            if (e1.name.substring(e1.name.indexOf("_")) === "_visual_scenes.csv") {
          		if (fname === e1name) {
         		  hasVisualScenes = true;
                  return true;
                }
           }
         });
         gcd.items.some(function(e2) {
           var e2name = e2.name.substring(0,e2.name.indexOf("_edited"));
             if (e2.name.indexOf("_edited") >= 0) {
         		if (fname === e2name) {
         		  hasEdits = true;
                  return true;
                }
           }
        });

        var btnReviewState = 'disabled';
        if (hasVisualScenes) {
          btnReviewState = '';
        }
          
        var btnProcessState = 'disabled';
          if (isReviewed) {
          	btnProcessState = '';
          }
          html += '<tr><td><button onclick="reviewVideo(\'' + fname + '\')" id="review" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"' + btnReviewState + '>Review</button></td>';
          html += '<td class="mdl-data-table__cell--non-numeric">' + e.name + '</td>';
          var stateMessage = "Missing scenes";
           if (hasVisualScenes) {
          	stateMessage = "";
          }
          if (hasEdits) {
          	stateMessage += " File edited";
          }
          html += '<td>'+ stateMessage + '</td></tr>';
         
      }
     });
     html += '</tbody></table>';
     
     $("#table-container").html(html);
}

function listObjects() {
   var request = gapi.client.storage.objects.list({'bucket': BUCKET});
   executeRequest(request, 'listObjects');
}
 
$( document ).ready(function() {
  //loadTable(); 
});

function loadTable() {

  BUCKET = $("#cloud-bucket").val();
  listObjects();

 } 
 

$( "#cloud-bucket" ).change(function() {
  loadTable();
});

$( "#continue" ).click(function() {
 	loadTable();
});


function reviewVideo(fname) {
	window.location = "/video/"+fname;
}


   
function executeRequest(request, apiRequestName) {
      request.execute(function(resp) {
        console.log(resp);
        
        if (apiRequestName === 'listObjects') {
        	console.log(resp.items[3].mediaLink);
        	
        	listcloud(resp);
        	
        	$("#test").html('<video id="set-video" width="100%" height="auto" ><source src=' + resp.items[3].mediaLink + ' type="video/mp4" preload></video>');        	
        }
       
      });

    }


    function handleClientLoad() {
      gapi.client.setApiKey(apiKey);
      window.setTimeout(checkAuth, 1);

    }

    function checkAuth() {
      gapi.auth.authorize({
        client_id: clientId,
        scope: scopes,
        immediate: true
      }, handleAuthResult);
    }

    function handleAuthResult(authResult) {
      var authorizeButton = document.getElementById('authorize-button');
      if (authResult && !authResult.error) {
        authorizeButton.style.visibility = 'hidden';
        initializeApi();

	//filePicker.onchange = insertObject;
      } else {
        authorizeButton.style.visibility = '';
        authorizeButton.onclick = handleAuthClick;
      }
    }
    /**
     * Handle authorization click event.
     */
    function handleAuthClick(event) {
      gapi.auth.authorize({
        client_id: clientId,
        scope: scopes,
        immediate: false
      }, handleAuthResult);
      return false;
    }

    function initializeApi() {
      gapi.client.load("storage", API_VERSION);
    }

  
    $(window)
      .bind('load', function() {
        //addSelectionSwitchingListeners();
        handleClientLoad();

    });

 //loadTable();
 </script>
 </html>